body {
    margin: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: rgb(236, 252, 250);
}

h1 {
    font-size: 3vw;
    color: rgb(88, 88, 88);

}

nav {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width:100%;
    background-color: rgb(244, 158, 61);
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid rgb(129, 129, 251);
}
button {
    background-color: rgb(202, 202, 202);
    border-radius: 1vh;
    height: 5vh;
    width: 15vw;
    font-size: 2vw;
}
main {
    position: absolute;
    top: 24vh;
    left: 5%;
    height: auto;
    width: 90%;
    background-color: rgb(185, 215, 252);
    border: 1px solid rgb(244, 158, 61);
    border-radius: 2vh;
    box-shadow: 2vh 2vw 2vh rgb(213, 213, 213);
}
form {
    padding-top: 2vh;
    padding-bottom: 4vh;
}
input {
    margin-bottom: 6vh;
}
.account {
    margin-left: 75vw;
    height: 3vw;
    width: 3vw;
    border: none;
    background: none;
}
.burger {
    height: 4vw;
    width: 4vw;
}
.tailleMenu {
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 9vh;
    height: 20vh;
    width: 20vw;
    background-color: rgb(244, 158, 61);
    border: 2px solid rgb(129, 129, 251);
}